/calculator/calculator/.vs
/calculator/calculator/.idea
/calculator/calculator/calculator/bin
/calculator/calculator/calculator/obj

/.vs/slnx.sqlite
/.vs/Modsen-practice/FileContentIndex
/.vs/Modsen-practice/v17
/.vs
